@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
*, *:before, *:after { box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; text-size-adjust: none; }

footer, header, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

input { -webkit-appearance: none; border-radius: 0; }

.form { padding-top: 50px; font-family: 'Didact Gothic', sans-serif; font-size: 12px; font-weight: 400; display: flex; flex-direction: column; align-items: center; }
.form .form__input-container .highlite { background-color: red; color: white; }
.form .form__input-container .form__label { font-size: 20px; opacity: 0.7; display: block; }
.form .form__input-container .form__input-word { font-family: 'Didact Gothic', sans-serif; font-size: 12px; font-weight: 400; width: 100%; margin-top: 10px; text-align: center; font-size: 20px; border-top: none; border-right: none; border-bottom: 1px solid black; border-left: none; outline: none; }
.form .form__input-container .error { border: 2px solid red; }
.form .form__button-container button { font-family: 'Didact Gothic', sans-serif; font-size: 12px; font-weight: 400; transition: 0.3s; background: none; border: none; font-size: 18px; margin-top: 20px; margin-bottom: 5px; width: 100%; }
.form .form__button-container button:hover { color: white; background: black; padding: 5px 20px; margin-top: 15px; margin-bottom: 0; }
.form .form__button-container button:active { color: white; background: green; padding: 5px 20px; margin-top: 15px; margin-bottom: 0; }
.form .form__button-container_error button { font-family: 'Didact Gothic', sans-serif; font-size: 12px; font-weight: 400; transition: 0.3s; color: white; background: red; border: none; font-size: 18px; margin-top: 15px; width: 100%; padding: 5px 20px; }

.header { font-family: 'Didact Gothic', sans-serif; font-size: 12px; font-weight: 400; font-weight: 700; text-align: center; background-color: black; }
.header h1 { display: inline-block; font-size: 40px; margin: 20px 5px; color: white; }
.header span { font-size: 20px; background-color: black; color: black; background-color: white; padding: 0 10px; }

.result { width: 100%; margin-top: 50px; }
.result .result__title { font-family: 'Didact Gothic', sans-serif; font-size: 12px; font-weight: 400; font-size: 25px; font-weight: 700; padding: 20px; width: 100%; text-align: center; background-color: black; color: white; }
.result .result__list { margin-top: 50px; text-align: center; }
.result .result__list .result__list-item { font-family: 'Didact Gothic', sans-serif; font-size: 12px; font-weight: 400; font-size: 20px; padding: 10px; }
.result .result__list .result__list-item .result__answer-word { display: inline-block; min-width: 100px; padding: 0 10px; }

.content { display: flex; flex-direction: column; align-items: center; }

/*# sourceMappingURL=index.css.map */
